<h1>Create Lobby</h1>
<form action ="/lobby" method="POST">
    <div>
        <label for="name">Name</label>
        <input type="name" id="name" name="name" required>
    </div>
    <div>
        <label for="password (optional)">Password</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div>
        <label for="player capacity">Player capacity</label>
        <input type="player capacity" id="player capacity" name="player capacity" required>
    </div>
    <button type="submit">Create Lobby</button>
</form>